body{
    background-image: url(images/Object.png) ;
    background-size: contain;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 20px;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    padding-right: 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;

}

.banner{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.banner h1{
    color: #FFFFFF;
    font-size: 110px;
    font-family: "Source Sans Pro", sans-serif;
}

.span{
    margin-bottom: 30px;
    margin-top: -80px;

}

.span-text{
    color: #FFFFFF;
    padding-right: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}

button{
    background-color: #C271FF;
    color: #FFFFFF;
    font-size: 10px;
    padding: 12px;
    border-radius: 25px;
    border: 0px;
    box-shadow: 0 1px 6px 4px rgba(0,0,0,0.2);

}
