body{
    background-image: url(images/Object.png) ;
    background-size: contain;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 20px;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    padding-right: 25px;

}


