body {
    background-image: url(images/Object.png);
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 20px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    padding-right: 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;

}

.banner {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.banner h1 {
    color: #FFFFFF;
    font-size: 110px;
    font-family: "Source Sans Pro", sans-serif;
}

.span {
    margin-bottom: 30px;
    margin-top: -80px;

}

.span-text {
    color: #FFFFFF;
    padding-right: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}

button {
    background-color: #C271FF;
    color: #FFFFFF;
    font-size: 10px;
    padding: 12px;
    border-radius: 25px;
    border: 0px;
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2);

}



.pros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 0;

}

.pros p {
    color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
}

.pros-text {
    font-size: 32px;

}

.pros-text span {
    color: #C271FF;
    font-weight: 800;
}

.main-pros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}


.main-pros img {
    border-radius: 50%;
}

.main-pros h3 {
    color: #FFFFFF;
}

.main-pros p {
    color: #FFFFFF;
    font-style: italic;
}

.quote {
    background-color: #C271FF;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 70px 0;
}

.quote img {
    border-radius: 50%;
}


.quote-text {
    color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;


}

.quote-text p {
    font-style: italic;
}

.quote-text blockquote {
    margin: 0;
}

.videos-section {
    background-color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 80px 80px;
    text-align: start;


}

.videos-section h2 {
    padding-bottom: 50px;
    text-align: center;
    font-weight: 400;
}

.videos-section p {
    font-size: 16px;
    color: #929292;
}

.videos-section span {
    color: #C271FF;
    font-weight: 600;


}

.videos {
    display: flex;

}


.small {
    display: flex;
    align-items: center;
    gap: 12px;
}

.small h4 {
    color: #C271FF;
    font-size: 14px;
}

.small img {
    border-radius: 50%;
}


.stars {
    display: flex;
    color: #C271FF;
    font-size: small;
    gap: 5px;
}

.videos .time {
    color: #C271FF;
}


.meta {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    margin-top: 8px;
}

.meta .stars {
    display: flex;
    gap: 5px;
    color: #C271FF;
}

.meta .time {
    color: #C271FF;
    margin: 0;
    font-size: 0.9rem;
}


.membership {
    background-color: #071629;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    font-family: "Source Sans Pro", sans-serif;
}

.membership h2 {
    font-weight: 400;
}

.membership h2 span {
    color: #C271FF;
    font-weight: 600;


}

.membership-tier {
    display: flex;
    padding: 50px 80px;
    gap: 90px;
    text-align: center;
}

.membership-tier p {
    font-size: 12px;
}


.faqs {
    background-color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    padding: 40px 50px;

}

.faqs h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 200;
}

.faq-box {
    gap: 30px;
    display: flex;
}

.faq-items {
    padding: 0 100px;
    gap: 30px;

}

footer {
    background-color: #071629;
    color: #FFFFFF;
    padding: 50px;

}

.item-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

}

.socials {
    display: flex;
    gap: 20px;

}

footer p {
    text-align: center;
    font-size: 12px;
}