
body, main{
    display: flex;
}

body{
    flex-direction: column;
    display: flex;
}

main{
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
}